<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<title>{{ dashboard_title or 'Dashboard' }} | OpenLEG</title>
<link rel="icon" type="image/x-icon" href="{{ site_url }}/static/favicon.ico">
{% include 'partials/tailwind_brand.html' %}
{% if ga4_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ ga4_id }}');
</script>
{% endif %}
